@import url('common.css');
@import url('variables.css');
@import url('steps-list.css');

#root {
    margin: 0 auto;
    text-align: center;
}
#page-wrapper {
    width: 100%;
    overflow: auto;
}
#page-container {
    padding: 2rem;
    min-height: 100vh;
}